/* ============================ MOBILE FIRST ===========================*/

/* #region COMMON LAYOUTS*/

/* Allows the layout (specifically the width and height) of svg-icons to be properly set*/
.layout-icon {
  display: inline-block;
}

/* The main button. Used in the Hero Section and modal window */
.layout-button-main {
  min-width: 169px;
  height: 56px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* headings of sections */
.layout-heading-section {
  text-align: center;
  margin-bottom: 72px;
}

/* the default flex layout for a card group. Mobile default used. Used in the Team section and Portfolio */
.layout-card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

/* #endregion COMMON LAYOUTS */

/* #region HEADER */

/* the layout of the entire header. Ensures the content is centered and there is no gap between sections */
.layout-header {
  padding: 16px 16px; /* Sets the header content space as per Figma Markup */
  margin: 0 auto;
}

/* The layout of the container with all the header conents */
.layout-header-container {
  max-width: 320px; /*limitation for mobile version*/
  margin: 0 auto; /* Centers the header content inside the header*/

  /* The items inside the header content area will be placed in a row, horizontally centered, with even space between the items */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* The navigation links and contact information is removed from the header of the mobile version*/
.layout-header-container .layout-header-nav,
.layout-header-container .layout-address-section {
  display: none;
}

/* The position of the header navigation links is made relative so that the position of their underline decorations can be properly set up*/
.layout-header .layout-link {
  position: relative;
}

/* Sets space for the decorative underlines of the header navgiation links to be placed beneath them, not right under*/
.layout-header-container .layout-nav-menu .layout-link {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Burger menu button*/
.layout-header-container .layout-button {
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------tablet----------------*/
@media screen and (min-width: 768px) {
  /*The navigation links will now control vertical spacing*/
  .layout-header {
    padding: 0 16px;
  }
  .layout-header-container {
    max-width: 768px;
  }
  /*the burger menu is removed for tablets and higher resolutions */
  .layout-header-container .layout-button {
    display: none;
  }

  /* The block containing the group with the list of header navigation links becomes visible for tablets and higher resolutions.*/
  .layout-header-container .layout-header-nav {
    display: block;
  }
  /* the layout of the actual group containing the navigation links*/
  .layout-header-container .layout-nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  /* The section with the address details becomes visible for tables and higher resolutions */
  .layout-header-container .layout-address-section {
    display: block;
    padding: 16px 0;
  }
  /* The layout of the header address group for tablets. Will have to be changed for desktop */
  .layout-header-container .layout-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

/*------------desktop-----------------  */
@media screen and (min-width: 1158px) {
  .layout-header {
    padding: 24px 15px;
  }
  .layout-header-container {
    max-width: 1158px;
  }
  /* manually moves the header navigation links away from the Logo as per Figma markup*/
  .layout-header-container .layout-logo {
    margin-right: 76px;
  }
  /* Fills up the space between the header navigation links and the address group*/
  .layout-header-container .layout-header-nav {
    margin-right: auto;
  }

  .layout-header-container .layout-address-section {
    padding: 0;
  }

  /* Changes the layout of the header address group for Desktops and higher*/
  .layout-header-container .layout-address-list {
    flex-direction: row;
    gap: 40px;
  }
}

/* #endregion HEADER */

/* #region MOBILE MENU */

/* The menu layout fills the entire screen */
.layout-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

/* The actual mobile menu container */
.layout-mobile-menu .layout-mobile-container {
  height: 100%;
  position: relative;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

/* the layout of the close button at the top-right. Can be found in the modal window and mobile menu */
.layout-button-close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0; /* flex will be used to style the content inside */
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Ensures that the space beneath the block containing the navigation menu links is filled*/
.layout-mobile-menu .layout-header-nav {
  margin-bottom: auto;
}
/* Regulates the layout of the navigation menu links inside their block*/
.layout-mobile-menu .layout-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Regulates the layout of the contact information inside their block*/
.layout-mobile-menu .layout-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

/* Regulates the layout of the social links group at the bottom of the mobile menu*/
.layout-mobile-menu .layout-social-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Individual Social links are made into flex containers containing the actual icons centered */
.layout-mobile-menu .layout-social-links .layout-link {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Removes the mobile menu for tables and Desktops */
@media screen and (min-width: 768px) {
  .layout-mobile-menu {
    display: none;
  }
}
/* #endregion MOBILE MENU */

/* #region HERO */

/* centers the container inside the hero section */
.layout-hero {
  margin: 0 auto;
  padding: 72px 16px;
}

/* sets the content area inside the Hero container and aligns items inside to be centered */
.layout-hero .layout-container {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

/* The layout of the main heading */
.layout-hero-heading {
  max-width: 216px;
  margin: 0 auto 72px;
}

/*-----------------tablet-------------- */
@media screen and (min-width: 768px) {
  .layout-hero {
    padding: 112px 16px;
  }
  .layout-hero .layout-container {
    max-width: 768px;
  }

  .layout-hero-heading {
    max-width: 496px;
    margin: 0 auto 36px;
  }
}
/*----------------desktop-------------*/
@media screen and (min-width: 1158px) {
  .layout-hero {
    padding: 188px 15px;
  }

  .layout-hero .layout-container {
    max-width: 1158px;
  }

  .layout-hero-heading {
    max-width: 496px;
    margin: 0 auto 48px;
  }
}

/* #endregion HERO */

/* #region WHY US */
.layout-why-us {
  margin: 0 auto;
  padding: 96px 16px;
}

/* setting the content area of the container of the WHY US section */
.layout-why-us .layout-container {
  max-width: 320px;
  margin: 0 auto;
}

/* The elements will wrap depending depending on their breakpoint. This will be regulated by their width */
.layout-merit-points {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.layout-merit-point {
  width: calc((100%) / 1);
}

/* The icons are not present in the mobile and tablet versions */
.layout-merit-point .layout-container {
  display: none;
}

.layout-merit-points .layout-heading {
  margin-bottom: 8px;
  text-align: center;
}

/*-------------tablet------------*/
@media screen and (min-width: 768px) {
  .layout-why-us .layout-container {
    max-width: 768px;
  }
  .layout-merit-points {
    column-gap: 24px;
    row-gap: 72px;
  }

  .layout-merit-point {
    width: calc((100% - 24px) / 2);
  }

  .layout-merit-points .layout-heading {
    text-align: left;
  }
}

/*------------desktop------------*/

@media screen and (min-width: 1158px) {
  .layout-why-us {
    padding: 120px 15px;
  }

  .layout-why-us .layout-container {
    max-width: 1158px;
  }

  .layout-merit-points {
    gap: 24px;
  }

  .layout-merit-point {
    width: calc((100% - 72px) / 4);
  }

  /* the icons are made visible in the desktop version */
  .layout-merit-point .layout-container {
    padding: 0;
    height: 112px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}
/* #endregion WHY US */

/* #region TEAM */

/*centers the container inside the section */
.layout-team {
  margin: 0 auto;
  padding: 96px 16px;
}

/* sets the content area */
.layout-team .layout-container {
  max-width: 320px;
  padding: 0 12px;
  margin: 0 auto;
  text-align: center;
}

.layout-team .layout-card-group {
  justify-content: center;
}
/* The width of each member card will depend on the resolution. Done for wrapping*/
.layout-team .layout-box {
  width: 264px;
}

/* The layout of the area under the team member card photo */
.layout-team .layout-image-subscript {
  padding: 32px 0;
  text-align: center;
}

/* creating space under the card heading and description */
.layout-image-subscript .layout-heading,
.layout-image-subscript .layout-body-text {
  margin-bottom: 8px;
}

/* the layout of the social links in the cards*/
.layout-team .layout-social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* The layout of an individual social link. The icon inside is centered with flex*/
.layout-social-links .layout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

/*--------------tablet---------------------*/

/* container layout*/
@media screen and (min-width: 768px) {
  .layout-team .layout-container {
    max-width: 768px;
    padding: 0 92px;
  }

  /*setting the team cards layout in tablet*/
  .layout-team .layout-card-group {
    column-gap: 24px;
    row-gap: 64px;
  }
  /* adjusting card width to ensure proper alignment in tablet*/
}

/*--------------desktop------------------*/
/* container layout*/
@media screen and (min-width: 1158px) {
  .layout-team {
    padding: 120px 15px;
  }
  .layout-team .layout-container {
    max-width: 1158px;
    padding: 0;
  }

  /*setting the team cards layout in desktop*/
  .layout-team .layout-card-group {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
  }
}

/* #endregion TEAM*/

/* #region PORTFOLIO */

/*centers the container insidde the section */
.layout-portfolio {
  margin: 0 auto;
  padding: 96px 16px;
}

/* the picture-slide*/
.layout-portfolio .layout-overlay {
  position: relative;
  overflow: hidden;
}

/* The text of the picture slide*/
.layout-overlay .layout-body-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  text-align: left;
}

/*ensures the images actually fill their containers as they may otherwise mis-size*/
.layout-overlay img {
  width: 100%;
  height: auto;
}

/* The content area of heading and subheading under the image*/
.layout-portfolio .layout-image-subscript {
  padding: 32px 16px;
  text-align: left;
}

/* removing any margins for the subheading as there is no social icons section beneath them which would require a margin*/
.layout-portfolio .layout-body-text {
  margin: 0;
}

/*----------------mobile--------------------*/
/* sets the content area */
.layout-portfolio .layout-container {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.layout-portfolio .layout-box {
  width: calc((100%) / 1);
}

/*-----------------tablet----------------*/
@media screen and (min-width: 768px) {
  .layout-portfolio .layout-container {
    max-width: 768px;
  }

  .layout-portfolio .layout-card-group {
    column-gap: 24px;
    row-gap: 72px;
  }

  .layout-portfolio .layout-box {
    width: calc((100% - 24px) / 2);
  }
}

/*----------------desktop----------------*/

@media screen and (min-width: 1158px) {
  .layout-portfolio {
    padding: 120px 15px;
  }
  .layout-portfolio .layout-container {
    max-width: 1158px;
  }

  .layout-portfolio .layout-card-group {
    row-gap: 48px;
  }

  .layout-portfolio .layout-box {
    width: calc((100% - 48px) / 3);
  }
}

/* #endregion PORTFOLIO */

/* #region FOOTER */

/*centering the footer container*/
.layout-footer {
  margin: 0 auto;
  padding: 96px 16px;
}

/*--------------------mobile--------------*/
.layout-footer .layout-container {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.layout-container-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* centering the logo for the mobile version */
.layout-container-cta .layout-logo {
  align-self: center;
}

.layout-footer .layout-container-social {
  max-width: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.layout-footer .layout-container-form {
  max-width: 288px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.layout-footer-heading {
  padding: 0;
  align-self: center;
}

.layout-footer .layout-social-links {
  display: flex;
  gap: 16px;
}

.layout-footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* The input window for the email */
.layout-footer-subscribe .layout-input {
  padding-left: 16px; /*Moves placeholder text to the right*/
  height: 40px;
  width: 100%;
}

/*the subscribe button */
.layout-button-footer {
  align-self: center; /*ensures the button is centered in mobile version vertically. Has no effect in tablet, desktop */
  width: 165px;
  height: 40px;
  border: none;
  padding: 0;
  display: flex; /* used to center the contents within*/
  align-items: center;
  justify-content: center;
}

/* allows space between airplane icon and text */
.layout-button-footer .layout-icon {
  margin-left: 16px;
}

/*-------------------tablet--------------*/
@media screen and (min-width: 768px) {
  .layout-footer {
    padding: 96px 108px;
  }
  .layout-footer .layout-container {
    max-width: 768px;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
  }

  .layout-container-cta {
    max-width: 264px;
  }

  /* aligning the logo left for tablet+ */
  .layout-container-cta .layout-logo,
  .layout-footer-heading {
    align-self: flex-start;
  }

  .layout-footer .layout-container-form {
    max-width: 453px;
  }
  .layout-footer-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .layout-footer-subscribe .layout-input {
    width: 264px;
  }
}

/*-------------------desktop--------------*/
@media screen and (min-width: 1158px) {
  .layout-footer {
    padding: 100px 15px;
  }
  .layout-footer .layout-container {
    max-width: 1158px;

    gap: 0; /*removing gap to set distancing manually via margins */
  }

  .layout-container-cta {
    margin-right: 120px;
  }

  .layout-footer .layout-container-social {
    margin-right: 80px;
  }
}
/* #endregion FOOTER */

/* #region MODAL WINDOW */

/* the overlay which covers the entire viewport*/
.layout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}

/* Setting the layout and content area of the actual window with the form*/
.layout-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  width: 100%;
  max-width: 288px;
  min-height: 623px;
  overflow-y: auto;
}

/* The form layout inside the modal window. Items go from top to bottom*/
.layout-modal-window .layout-form {
  display: flex;
  flex-direction: column;
}

/* adds space between the heading and the form */
.layout-modal-heading {
  margin-bottom: 16px;
}

/*Adds space under each section containing an input field and its label*/
.layout-input-section {
  margin-bottom: 8px;
}

/* set space between the title of the label and the input field*/
.layout-form .layout-label {
  display: block;
  margin-bottom: 4px;
}

/*The width of the input field is made to stretch in full. Fixed height. space is made to the left with paddding to place an icon*/
.layout-input-field {
  width: 100%;
  height: 40px;
  padding-left: 38px;
}

/*Enables absolute positioning of elements inside the input-field*/
.layout-input-container {
  position: relative;
}

/*Positioning of icons inside the input fields*/
.layout-input-container .layout-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
}

/* Sets space between the text area container and the Checkbox section*/
.layout-textarea-section {
  margin-bottom: 16px;
}

/* The actual text area input */
.layout-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
}
/* sets space between the checkbox area and the button */
.layout-checkbox-section {
  margin-bottom: 24px;
}

/*the square containing the checkbox*/
.layout-label .layout-checkbox-container {
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /*prevents checkbox from shrinking*/
}

/*The checkbox and the Privacy policy text*/
.layout-checkbox-section .layout-label {
  margin: 0;
  padding: 0;
  display: flex; /* flex will be used to align the checkbox and text*/
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
}

/*Adding an underline to the privacy policy link*/
.layout-checkbox-section .layout-link {
  text-decoration: underline;
}

/*----------------tablet+-------------*/
@media screen and (min-width: 768px) {
  .layout-modal-window {
    padding: 72px 24px 24px 24px;
    max-width: 408px;
    min-height: 584px;
  }
}

/* #endregion MODAL WINDOW */
