/* #region VARIABLES */

:root {
  /* === Layout === */

  --image-height-portfolio: 300px;

  /* === Colors === */

  --color-primary-brand: #4d5ae5; /* CTAs, Focused, Active states, Links*/
  --color-pressed-state: #404bbf; /* CTAs*/
  --color-dark: #2e2f42; /* Overlays, Shadows, Headings*/
  --color-success: #31d0aa; /* Valid fields, success messages*/
  --color-text: #434455; /* Body text*/
  --color-subtle-text: #8e8f99; /* Helper text, Deemphesized text*/
  --color-accent: #e7e9fc; /* Accent color, Hairlines, Subtle backgrounds */
  --color-light: #f4f4fd; /* Light mode backgrounds, Light modde Dialogs/alerts */
  --color-modal-overlay: rgba(46, 47, 66, 0.4); /* Overlay*/
  --color-hero-background: rgba(46, 47, 66, 0.7); /* Hero image background */
  --color-white-background: #fff; /* Header, team card, backgroundd*/
  --color-modal-background: #fcfcfc;

  /* === Font families === */
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;

  /* === Font weights === */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* === Semantic mappings === */
  --font-heading: var(--font-roboto);
  --font-body: var(--font-roboto);
  --font-logo: var(--font-raleway);

  --font-weight-heading: var(--weight-bold);
  --font-weight-body: var(--weight-regular);
  --font-weight-subheading: var(--weight-medium);
}

/* #endregion VARIABLES */

/* #region DEFAULT SETTINGS */

body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  background-color: var(--color-white-background);
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}
a {
  text-decoration: none;
}

/* #endregion DEFAULT SETTINGS*/

/* #region LAYOUT */

.layout-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
.layout-header.theme-header {
  max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-accent);
}

.layout-header .container {
  max-width: 1128px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-header-nav {
  display: flex;
  align-items: center;
}

.layout-header .layout-logo {
  display: inline-block;
  margin-right: 76px;
}

.layout-header .layout-nav-menu {
  display: flex;
  gap: 40px;
}

.layout-nav-menu .layout-link {
  display: inline-block;
  padding: 24px 0;
}

.layout-address-list {
  display: flex;
  gap: 40px;
}

.layout-hero {
  max-width: 1440px;
  margin: 0 auto;
}

.layout-hero .container {
  padding: 188px 0;
  margin: 0 auto;
  text-align: center;
}

.layout-hero-heading {
  max-width: 496px;
  margin: 0 auto 48px;
}

.layout-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  border: none;
}

.layout-why-us .container {
  display: flex;
  max-width: 1128px;
  padding: 120px 15px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout-merit-points {
  display: flex;
  gap: 24px;
}

.layout-merit-point {
  width: calc((100% - 72px) / 4);
}

.layout-merit-point .container {
  height: 112px;
  width: 264px;
  padding: 24px 100px;
  border-radius: 4px;
  border: 1px solid var(--color-subtle-text);
  margin-bottom: 8px;
}

.layout-why-us .layout-icon {
  height: 64px;
  width: 64px;
}

.layout-team {
  max-width: 1440px;
  margin: 0 auto;
}

.layout-team .container {
  max-width: 1128px;
  padding: 120px 15px;
  margin: 0 auto;
  text-align: center;
}

.layout-small-heading {
  margin: 0 0 8px 0;
}

.layout-section-heading {
  text-align: center;
  margin-bottom: 72px;
}

.layout-team .layout-team-members {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.layout-team-members .layout-box {
  border-radius: 0px 0px 4px 4px;
}

.layout-team .layout-image-subscript {
  padding: 32px 0;
  text-align: center;
}

.layout-team .layout-body-text {
  margin-bottom: 8px;
}

.layout-team .layout-social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.layout-social-links .layout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.layout-team .layout-icon {
  width: 16px;
  height: 16px;
}

.layout-portfolio .container {
  max-width: 1128px;
  padding: 120px 15px;
  margin: 0 auto;
}

.layout-portfolio .layout-portfolio-cards {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.layout-portfolio-cards .layout-portfolio-card {
  width: calc((100% - 48px) / 3);
}

.layout-portfolio-card .layout-overlay {
  position: relative;
  overflow: hidden;
}

.layout-overlay .layout-body-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
}

.layout-portfolio-card .layout-image {
  width: 100%;
  height: var(--image-height-portfolio);
}

.layout-portfolio .layout-image-subscript {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.layout-footer {
  margin: 0 auto;
}

.layout-footer .container {
  max-width: 1128px;
  width: 100%;
  padding: 100px 15px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  align-content: flex-start;
}

.layout-footer .layout-container-cta {
  max-width: 264px;
  max-height: 112px;
  width: 100%;
  height: 100%;
  margin-right: 120px;
}

.layout-footer .layout-container-social {
  max-width: 208px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  margin-right: 80px;
}

.layout-footer .layout-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.layout-footer-heading {
  padding: 0;
  margin-bottom: 16px;
}
.layout-footer .layout-social-links {
  display: flex;
  gap: 16px;
}

.layout-footer-subscribe {
  display: flex;
  max-height: 80px;
  max-width: 453px;
  height: 100%;
  width: 100%;
  margin-right: 0;
  margin-left: auto;
  gap: 24px;
  align-items: end;
}

.layout-footer .layout-icon {
  width: 24px;
  height: 24px;
}

.layout-footer-subscribe .layout-input-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 264px;
  width: 100%;
}

.layout-footer-subscribe .layout-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
}

.layout-footer-button {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border: none;
}

.layout-footer-button .layout-icon {
  display: flex;
  margin-left: 16px;
}

.layout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.layout-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
}

.layout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.layout-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-button-close .layout-icon {
  width: 8px;
  height: 8px;
}

.layout-modal-heading {
  margin-bottom: 16px;
}

.layout-input-section {
  margin-bottom: 8px;
}

.layout-form .layout-label {
  display: block;
  margin-bottom: 4px;
}

.layout-input-container {
  position: relative;
}

.layout-input-field {
  width: 100%;
  height: 40px;
  padding-left: 38px;
}

.layout-input-container .layout-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
}

.layout-textarea-section {
  margin-bottom: 16px;
  resize: none;
}

.layout-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

.layout-checkbox-section {
  margin-bottom: 24px;
}

.layout-label .layout-checkbox-container {
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* #endregion LAYOUT */

/* #region THEME*/

.theme-section-heading {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
}

.theme-subheading {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-subheading);
}

.theme-body-text {
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  font-style: normal;
}

.theme-logo {
  font-family: var(--font-logo);
  font-weight: var(--font-weight-heading);
  color: var(--color-primary-brand);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.theme-icon {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.theme-small-heading {
  color: var(--color-dark);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-family: var(--font-heading);
  font-weight: var(--font-weight-subheading);
}

.theme-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.theme-header-nav {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-subheading);
}

.theme-header .theme-logo-accent {
  color: var(--color-dark);
}

.theme-header .theme-link {
  position: relative;
  color: var(--color-pressed-state);
}

.theme-header .theme-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-pressed-state);
  opacity: 0;
  pointer-events: none;
}

.theme-address {
  color: var(--color-text);
}

.theme-hero {
  color: var(--color-white-background);
  background-color: var(--color-dark);
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      var(--color-hero-background),
      var(--color-hero-background)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme-hero-heading {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.theme-button {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-subheading);
  color: var(--color-white-background);
  background-color: var(--color-primary-brand);
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.theme-merit-point .container {
  background-color: var(--color-light);
}

.layout-overlay .theme-body-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  background-color: var(--color-primary-brand);
}

.theme-team {
  background-color: var(--color-light);
}

.theme-team .theme-box {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--color-white-background);
}

.theme-social-links .theme-link {
  border-radius: 50%;
  background-color: var(--color-primary-brand);
}

.theme-footer {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.theme-footer .theme-logo-accent {
  color: var(--color-light);
}

.theme-footer .theme-footer-heading {
  color: var(--color-white-background);
  font-family: var(--font-heading);
  font-weight: var(--font-weight-subheading);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.theme-footer .theme-input {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white-background);
  background-color: transparent;
  border: 1px solid var(--color-white-background);
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.theme-footer .theme-input::placeholder {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white-background);
}

.theme-footer-button {
  color: var(--color-white-background);
  background-color: var(--color-primary-brand);
  font-family: var(--font-heading);
  font-weight: var(--font-weight-subheading);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
}

.theme-modal-overlay {
  background-color: var(--color-modal-overlay);
  /*opacity: 0; */
}

.theme-modal-window {
  background-color: var(--color-modal-background);
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.14);
}

.theme-button-close {
  border-radius: 50%;
  background-color: var(--color-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.theme-modal-heading {
  font-weight: var(--font-weight-subheading);
  font-family: var(--font-heading);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.theme-form .theme-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
}

.theme-input-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.theme-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.theme-label .theme-checkbox-container {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
}

.theme-label .theme-link {
  color: var(--color-primary-brand);
}
/* #endregion THEME*/

/* #region EFFECTS */
.theme-header .effects-link,
.theme-header .effects-address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-header .effects-link:hover,
.theme-header .effects-link:focus,
.theme-header .effects-address:hover,
.theme-header .effects-address:focus {
  color: var(--color-pressed-state);
}

.theme-header .effects-link::after {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-header .effects-link:hover::after,
.theme-header .effects-link:focus::after {
  opacity: 1;
}

.effects-button,
.effects-social-icon,
.effects-footer-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.effects-button:hover,
.effects-button:focus,
.effects-social-icon:hover,
.effects-social-icon:focus,
.effects-footer-button:hover,
.effects-footer-button:focus {
  background-color: var(--color-pressed-state);
}

.theme-footer .effects-social-icon:hover,
.theme-footer .effects-social-icon:focus {
  background-color: var(--color-success);
}

.effects-portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effects-portfolio-card:hover,
.effects-portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.effects-card-cover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effects-portfolio-card:hover .effects-card-cover {
  transform: translateY(0%);
}

.effects-modal-overlay {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effects-modal-window {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effects-button-close {
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effects-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-button-close:hover .effects-icon,
.theme-button-close:focus .effects-icon {
  fill: var(--color-primary-brand);
}

.effects-button-close:hover,
.effects-button-close:focus {
  background-color: var(--color-pressed-state);
  border: none;
}

.effects-button-close:hover .effects-icon,
.effects-button-close:focus .effects-icon {
  fill: var(--color-white-background);
}

.effects-input-field {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effects-input-field:hover,
.effects-input-field:focus {
  border-color: var(--color-primary-brand);
}

.theme-input-container:focus-within .effects-icon {
  fill: var(--color-primary-brand);
}

.effects-textarea {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effects-textarea:focus {
  border-color: var(--color-primary-brand);
}

.theme-label .effects-checkbox-container {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked ~ .theme-label .effects-checkbox-container {
  background-color: var(--color-pressed-state);
  border: none;
  fill: var(--color-light);
}

/* #endregion EFFECTS*/
